*{
    margin: 0px;
    padding: 0px;
}

/* navbar */
nav{
    display: flex;
    background-color: #b2bec3;
    justify-content: space-around;
    padding: 20px 0;
    color: #dfe6e9;
}
.logo{
    color: #353b48;
}


nav ul{
    display: flex;
    list-style-type: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a{
    text-decoration: none;
    color: #222f3e;
}

nav ul li a:hover{
    color: #636e72;
}

@media screen and (max-width: 768px){
    nav ul{
        width: 50%;
    }
}

/* Container */

.container-grid{
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
    padding: 10px;
}
.main{
    grid-area: main;
}

.text-center{
    display: grid;
    justify-content: center;
}

.header{
    grid-area: header;
}
/* form */

input[type=text], textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    box-sizing: border-box;
}

input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form{
    border-radius: 5px;
    background-color: #b2bec3;
    padding: 20px;
}

.form label{
    font-size: 20px;
}

.btnsubmit{
    background-color: #0984e3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.btnsubmit:hover{
    background-color: #dfe6e9;
    color: #0984e3;
}

/* Forum Table */
.forum {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.forum td, .forum th {
    border: 1px solid #ddd;
    padding: 8px;
}

.forum tr:nth-child(even){background-color: #f2f2f2;}

.forum tr:hover {background-color: #ddd;}

.forum th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #55efc4;
    color: white;
}

.btncreate{
    background-color: #00cec9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
    margin-bottom: 10px;
    float: right;
}

.btncreate:hover{
    background-color: #dfe6e9;
    color: #00cec9;
}

/* Rating */

.ratingradio{
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    font-size: 20px;
}

.ratingradio label{
    margin-right: 10px;
}